//COLORS

  //BLACK
    $light-black:#444444;
    $base-black:#000000;
    $off-black:#323A45;

  //BLUE
    $lightest-blue:#D9EDF7;
    $light-blue:#51C0F5;
    $base-blue:#0083C1;
    $dark-blue:#0074AB;
    $darkest-blue:#1B9AF7;

    $link-dark-blue:#778398;

  //ORANGE
    $light-orange:#FFAA4B;
    $base-orange:#FF8F12;
    $dark-orange:#DC7400;

  //GREEN
    $light-green:#C7Eb6A;
    $base-green:#C4E76A;
    $dark-green:#A4C945;
    $darkest-green:#88A932;

  //GREY
    $light-grey:#EDEDED;
    $base-grey:#CCCCCC;
    $medium-grey:#DADFE1;
    $dark-grey:#959595;

    $header-grey:#A0AAAD;

  //WHITE
    $light-white:#FAFAFA;
    $base-white:#FFFFFF;
    $dark-white:#F5F5F5;

  //RED
    $light-red:#F2DEDE;
    $medium-red:#EED3D7;
    $base-red:#B94A48;

  //TEAL
    $base-teal:#99D1DC;
    $dark-teal:#61A6B3;

  //NO COLOR
    $transparent:transparent;



//FONTS

  //FONT FAMILIES

  //SERIF
  $serif-regular: 'aleoregular', Georgia, serif;
  $serif-italic:'aleoitalic', Georgia, serif;

  //SANS-SERIF
  $sans-light: 'proxima_novalight', Helvetica, sans-serif;
  $sans-regular: 'proxima_nova_rgregular', Helvetica, sans-serif;
  $sans-bold:'proxima_nova_rgbold', Helvetica, sans-serif;
  $sans-italic:'proxima_novaregular_italic', Helvetica, sans-serif;
  $sans-bold-italic:'proxima_nova_rgbold_italic', Helvetica, sans-serif;


  $base-font:$sans-regular;


  //SIZES
  $fontsize-tiny:11px;
  $fontsize-small:12px;
  $fontsize-base:15px;
  $fontsize-medium:18px;
  $fontsize-big:24px;
  $fontsize-bigger:30px;
  $fontsize-huge:35px;
  $fontsize-toobig:45px;


//BORDERS

  //GREY BORDERS
  $border-light-grey:1px solid $light-grey;
  $border-base-grey:1px solid $base-grey;
